# Created by .ignore support plugin (hsz.mobi)
/vendor/

# PHPUnit
/app/phpunit.xml
#/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# phpunit PHAR
/phpunit-5.3.2.phar

# IntelliJ project files
.idea
*.iml
out
gen
